button,
div,
form,
input {
  margin: 5px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

label {
  color: #fff;
}

.btn-default {
  color: red !important;
  font-size: medium;
  font-weight: bold;
  background-color: blue !important;
  margin: 2px;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.holder {
  float: left;
}

.jumbotron {
  text-align: center;
}
