form {
  color: black;
}

input {
  margin: 5px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

label {
  color: #fff;
}

.btn-default {
  color: white !important;
  font-size: medium;
  font-weight: bold;
  background-color: #01579b !important;
  margin: 2px;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c8102e !important;
}

.holder {
  float: left;
}

.jumbotron {
  text-align: center;
  color: white;
  background-color: #01579b !important;
  margin-top: 15px;
}
